@model IEnumerable<fmspod1.Models.Zgloszenie>

@{
    ViewBag.Title = "Status";
}

<h2>Status</h2>

<p>
    @Html.ActionLink("Wróc do listy", "Index")   
</p>
<table>
    <tr>
        <th>
            Data
        </th>
        <th>
            status
        </th>
        <th>
            kod_pocztowy
        </th>
        <th>
            adres
        </th>
        <th>
            tresc_zgloszenia
        </th>
        <th>
            zdjecie
        </th>
        <th>
            komentarz_admina
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kod_pocztowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tresc_zgloszenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zdjecie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.komentarz_admina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
